body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 20px;
}

#qr-code {
    margin-top: 20px;
}

.download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #45a049;
}
